a.play {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bolder;
	font-size: 1.5em;
	display: block;
	width: 60%;
	min-width: 20pt;
	padding: 0.4em 0 0.4em 0;
	text-decoration: none;
	background: rgb(67,85,17);
	background: linear-gradient(90deg, rgba(45,57,11,1) 0%, rgba(75,96,30,1) 50%, rgba(45,57,11,1) 100%);
	box-shadow: 0px 0px 10px 4px #cbff59;
	border-radius: 30px;
	color: #a8db1a;
	margin-left: auto;
	margin-right: auto;
    text-align: center;
}
a.play:hover {
	box-shadow: 0px 0px 10px 6px #cbff59;
	color: #b1e917;
}
.blinking-cursor {
    color: #2bb962;
    animation: 1.5s blink step-end infinite;
}
span.subnav, span.subnav a {
	padding: 30px 0;
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

span.subnav a:hover {
	text-decoration: none;
}
