{% load i18n %}
{% load bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as languages %}
<!DOCTYPE html>
<html lang="{{ lang.code }}">
<head>
	<meta charset="UTF-8">
	<title>Cybercamp - {% block title %}{% endblock %}</title>
	{% load static %}
	<!--
	<script src="{% static 'jquery/jquery-3.4.0.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
	-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	{% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<!-- Header -->
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<!-- Items -->
		<div class="collapse navbar-collapse" id="navbarToggler">
			<a class="navbar-brand" href="{#% url 'portal:available-appvolumes' %#}">Cybercamp</a>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item {% block event_active %}{% endblock %}">
						<a class="nav-link" href="{#% url 'portal:list-event' %#}">{% trans "Manage events" %}</a>
					</li>
					<li class="nav-item {% block appvolume_active %}{% endblock %}">
						<a class="nav-link" href="{#% url 'portal:list-appvolume' %#}">{% trans "Manage AppVolumes" %}</a>
					</li>
					<li class="nav-item {% block clientgroup_active %}{% endblock %}">
						<a class="nav-link" href="{#% url 'portal:list-clientgroup' %#}">{% trans "Manage client groups" %}</a>
					</li>
				</ul>
			<ul class="navbar-nav ml-auto mt-rg-0">
				{% if user.is_authenticated %}
					<li class="nav-item pl-5">
						<div class="navbar-text">{% blocktrans %}Logged in as {{user}}{% endblocktrans %}</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{#% url 'portal:logout' %#}">{% trans "Logout" %}</a>
					</li>
				{% else %}
					<li class="nav-item {% block login_active %}{% endblock %}">
						<a class="nav-link" href="{#% url 'portal:login' %#}">{% trans "Login" %}</a>
					</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav ml-auto mt-rg-0">

			</ul>
		</div>
</nav>
<div class="container">
	<h1>{% block header %}{% endblock %}</h1>
	{% bootstrap_messages %}
	{% block body %}
	{% endblock %}
</div>
</body>
</html>
