{% load i18n %}
{% load bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_available_languages as languages %}
<!DOCTYPE html>
<html lang="{{ lang.code }}">
<head>
	<meta charset="UTF-8">
	<title>Cybercamp - {% block title %}{% endblock %}</title>
	{% load static %}
	<script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
	<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<link rel="shortcut icon" type="image/png" href="{%  static 'favicon/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'cybercamp.css' %}">
	{% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<!-- Header -->
		<div class="navbar-header">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>

		<!-- Items -->
		<div class="collapse navbar-collapse" id="navbarToggler">
			<a class="navbar-brand" href="{% url 'camp:start' %}"><img src="{% static 'images/cybercamp-2021_transparent.png' %}" alt="cybercamp_logo" height="70px"/></a>
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'camp:go_to_cybercamp' %}">Zum Cybercamp</a>
						</li>
						<li class="nav-item {% block workshop_active %}{% endblock %}">
							<a class="nav-link" href="{% url 'camp:list_workshop' %}">Workshop Übersicht</a>
						</li>
						<li class="nav-item {% block my_workshop_active %}{% endblock %}">
							<a class="nav-link" href="{% url 'camp:my_workshop' %}">Meine Workshops</a>
						</li>
						<li class="nav-item {% block add_workshop_active %}{% endblock %}">
							<a class="nav-link" href="{% url 'camp:create_workshop' %}">Workshop einreichen</a>
						</li>
					{% endif %}
				</ul>

			<ul class="navbar-nav ml-auto mt-rg-0">
				{% if user.is_authenticated %}
					<li class="nav-item pl-5">
						<div class="navbar-text">Eingeloggt als {{user}}</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					</li>
				{% else %}
					<li class="nav-item {% block login_active %}{% endblock %}">
						<a class="nav-link" href="{% url 'login' %}">Login</a>
					</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav ml-auto mt-rg-0">

			</ul>
		</div>
</nav>
<div class="container">
	<h1>{% block header %}{% endblock %}</h1>
	{% bootstrap_messages %}
	{% block body %}
	{% endblock %}
</div>
<footer class="footer mt-4 py-3 bg-secondary">
  <div class="container">
    <span class="subnav">
			<a href="https://rover.camp/rovercamp-2021">Was ist das hier?</a> | &copy; <a href="https://rover.camp/">rovercamp</a> '21
		</span>
  </div>
</footer>
</body>
</html>
