{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block title %}Start{% endblock %}
{% block header %}
{% if user.is_authenticated %}
	Hallo {{user}}
{% endif %}
{% endblock %}
{% block body %}
{% if user.is_authenticated %}
	<img src="{% static 'images/cybercamp-2021_transparent.png' %}" class="img-fluid" alt="cybercamp_logo"/>
	<a class="play mb-4" href="{% url 'camp:go_to_cybercamp' %}">Start Game<span class="blinking-cursor">&raquo;</span></a>
	<a class="play mb-4" href="{% url 'camp:list_workshop' %}">Workshops<span class="blinking-cursor">&raquo;</span></a>
	<a class="play mb-4" href="{% url 'camp:create_workshop' %}">Workshop einreichen<span class="blinking-cursor">&raquo;</span></a>
{% else %}
	<img src="{% static 'images/cybercamp-2021_transparent.png' %}" class="img-fluid" alt="cybercamp_logo"/>
	<a class="play mb-4" href="{% url 'login' %}">
		Start Game <span class="blinking-cursor">&raquo;</span>
	</a>
{% endif %}

{% endblock %}
