{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block title %}Start{% endblock %}
{% block header %}
{% if user.is_authenticated %}
	Hallo {{user}}
{% endif %}
{% endblock %}
{% block body %}
{% if user.is_authenticated %}
	Was möchtest du tun?
	<ul>
        <li><a href="/goToCybercamp">Zum Cybercamp</a></li>
		<li>Zur Workshop Übersicht</li>
		<li>Einen Workshop einreichen</li>
		<li>An der Cybercamp Map mitbauen</li>
	</ul>
{% else %}
	<img src="{% static 'images/cybercamp-2021_transparent.png' %}" class="img-fluid" alt="cybercamp_logo"/>
	<a class="play" href="https://play.cyber.rover.camp/">
		Start Game <span class="blinking-cursor">&raquo;</span>
	</a>
</br>
{% endif %}

{% endblock %}
