{% extends 'base.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block title %}Cybercamp Anmeldung{% endblock %}
{% block header %}Cybercamp Anmeldung{% endblock %}
{% block body %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.errors }}
    </div>
{% endif %}

    <form method="post" class="form">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'accept_privacy_policy' %}
                {{ field }}
                Du stimmst der Datenspeicherung im Rahmen unserer <a href="https://www.dpsg-paderborn.de/datenschutzerklaerung/">Datenschutzerklärung</a> zu
            {% else %}
                {% bootstrap_field field %}
            {% endif %}
        {% endfor %}
        {% buttons %}
            </br>
            <button type="submit" class="btn btn-primary">Anmelden</button>
        {% endbuttons %}
    </form>
{% endblock %}
